        <div class="bl-panel-items" id="bl-panel-work-items">
    {%- for portfolio in site.portfolios -%}
    <!-- Project Starts -->
    <div data-panel="panel-{{ forloop.index }}">
        <div class="row">
              
            <!-- Project Images/Videos Starts -->
            <div class="carousel carousel-slider center">
              
                {%- assign content_count = portfolio.content | size -%}
                
                <!-- Carousel Navigation Left -->
                {%- if content_count > 1 -%}
                <a class="movePrevCarousel carousel-arrow carousel-arrow-left"><i class="fa fa-angle-left"></i></a>
                {%- endif -%}


                {%- for content in portfolio.content -%}
                <div class="carousel-item valign-wrapper">
                
                    {%- if content.type == 'youtube' -%}
                    <div id="video" class="videocontainer">
                        <iframe class="youtube-video lazyload" src="/resources/images/placeholder.webp" data-src="{{ content.source }}"></iframe>
                    </div>
                    
                    {%- elsif content.type == 'video' -%}
                    <video id="video" class="responsive-video" controls="" preload="none" poster="{{ content.image | relative_url }}">
                        <source src="{{ content.source }}" type="video/mp4">
                    </video>
                
                    {%- else -%}
                    <img class="responsive-img lazyload" src="/resources/images/placeholder.webp" data-src="{{ content.source | relative_url }}" alt="project" /> {%- endif -%}
                
                </div> {%- endfor -%}

                <!-- Carousel Navigation Right -->
                {%- if content_count > 1 -%}
                <a class="moveNextCarousel carousel-arrow carousel-arrow-right"><i class="fa fa-angle-right"></i></a>
                {%- endif -%}
            </div>
            
           
            <!-- Project Images/Videos Ends -->

            <!-- Project Details Starts -->
            <div class="col s12 l6 xl6 section-padding">
                <h3 class="font-weight-700 uppercase center-align">{{ portfolio.title }}</h3>
                <ul class="project-details second-font">
                    <li><i class="fa fa-user"></i><span class="font-weight-400">{{ portfolio.client }}</span></li>
                    <li><i class="fa fa-calendar-o"></i><span class="font-weight-400">{{ portfolio.date }}</span></li>
                    <li><i class="fa fa-cogs"></i> <span class="font-weight-700">Stack </span> : <span class="font-weight-400">{{ portfolio.technologies }}</span></li>
                    <li><i class="fa fa-map-o"></i> <span class="font-weight-400 ">{{ portfolio.description }}</span>
                    </li>
                </ul>
                <hr>

                <!-- More Info Starts -->
                {% if portfolio.more-info-url %}
                <a href="{{ portfolio.more-info-url }}" target="_blank" class="waves-effect waves-light btn font-weight-700 center-align">More Info<i
                        class="fa fa-external-link"></i>
                </a> {% endif %}
                <!-- More Info Ends -->

            </div>
            <!-- Project Details Ends -->
        </div>
    </div>
    <!-- Project Ends -->
    {%- endfor -%}

    <!-- Portfolio Navigation Starts -->
    <nav>
        <!-- Close Work Icon Starts -->
        <img alt="close" src="/resources/images/placeholder.webp" data-src="{{ '/resources/images/close-button.webp' | relative_url }}" class="lazyload control-button bl-icon-close" />
        <!-- Close Work Icon Ends -->
    </nav>
    <!-- Portfolio Navigation Ends -->
</div>